Location:
    nano /etc/systemd/system/open5gs-amfd.service

[Unit]
Description=Open5GS AMF daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/open5gs/install/bin/open5gs-amfd -c /usr/local/src/open5gs/install/etc/open5gs/amf.yaml
Restart=always

[Install]
WantedBy=multi-user.target