Location:
    nano /etc/systemd/system/open5gs-pcrfd.service

[Unit]
Description=Open5GS PCRF daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/open5gs/install/bin/open5gs-pcrfd -c /usr/local/src/open5gs/install/etc/open5gs/pcrf.yaml
Restart=always

[Install]
WantedBy=multi-user.target