Location:
    nano /etc/systemd/system/open5gs-bsfd.service

[Unit]
Description=Open5GS BSF daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/open5gs/install/bin/open5gs-bsfd -c /usr/local/src/open5gs/install/etc/open5gs/bsf.yaml
Restart=always

[Install]
WantedBy=multi-user.target