Location:
    nano /etc/systemd/system/open5gs-ausfd.service

[Unit]
Description=Open5GS AUSF daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/open5gs/install/bin/open5gs-ausfd -c /usr/local/src/open5gs/install/etc/open5gs/ausf.yaml
Restart=always

[Install]
WantedBy=multi-user.target