Location:
    nano /etc/systemd/system/open5gs-pcfd.service

[Unit]
Description=Open5GS PCF daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/open5gs/install/bin/open5gs-pcfd -c /usr/local/src/open5gs/install/etc/open5gs/pcf.yaml
Restart=always

[Install]
WantedBy=multi-user.target