Location:
    nano /etc/systemd/system/open5gs-udrd.service

[Unit]
Description=Open5GS UDR daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/open5gs/install/bin/open5gs-udrd -c /usr/local/src/open5gs/install/etc/open5gs/udr.yaml
Restart=always

[Install]
WantedBy=multi-user.target